.About-us {
  /* border: 2px solid red; */
  display: grid;
  /* grid-template-rows: repeat(4, 1fr); */
}

.About-us h1 {
  color: blue;
  display: flex;
  justify-content: center;
  font-family: "Sevillana", cursive;
  font-size: 60px;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

.About-us h3 {
  color: green;
  display: flex;
  justify-content: center;
  /* font-family: "Sevillana", cursive; */
  font-size: 30px;
  text-decoration: underline;
}
.value-list {
  list-style: none;
}
/* .value-list-title{
    /* grid-template-columns: repeat(4, 1fr); */

.img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.value-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    row-gap: 1rem;
    margin-top: 2rem;
}
.value-item {
    width: 37rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}
.value-item-image {
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
}
.value-item-image-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.value-item-title {
    margin: 1rem 0;
    text-transform: capitalize;
    font-weight: 200;
}

.value-item-description {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.7;
    color: #777;
}
.mission-item{
    display: flex;
    margin-top: 2rem;
}
.menu-item-description{
    display: flex;
    flex: 2 2;
    flex-direction: column;
    justify-content: center;
    line-height: 1.7rem;
    font-size: 1.2rem; 
}
.menu-item-title{
    margin-top: 2rem;
    margin-bottom: 2rem;
}